/* PH60-SC_V2 Keymap - Safe Version */
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        /* Layer 0: Default */
        default_layer {
            bindings = <
                &kp ESC  &kp N1   &kp N2   &kp N3   &kp N4   &kp N5   &kp N6   &kp N7   &kp N8   &kp N9   &kp N0   &kp BSPC
                &kp TAB  &kp Q    &kp W    &kp E    &kp R    &kp T    &kp Y    &kp U    &kp I    &kp O    &kp P    &kp LBKT
                &kp CAPS &kp A    &kp S    &kp D    &kp F    &kp G    &kp H    &kp J    &kp K    &kp L    &kp SEMI &kp RET
                &kp LSHIFT &kp Z  &kp X    &kp C    &kp V    &kp B    &kp N    &kp M    &kp COMMA &kp DOT &kp SLASH &kp RSHIFT
                &kp LCTRL &kp LGUI &kp LALT &kp SPACE &kp RALT &kp MO_1 &kp RGUI &kp RCTRL
            >;
        };

        /* Layer 1: Function Layer (Fn) */
        fn_layer {
            bindings = <
                &kp GRV  &kp F1   &kp F2   &kp F3   &kp F4   &kp F5   &kp F6   &kp F7   &kp F8   &kp F9   &kp F10  &kp DEL
                &kp BT_SEL_0 &kp BT_SEL_1 &kp BT_SEL_2 &kp BT_SEL_3 &kp BT_SEL_4 &kp BT_CLR &kp LEFT &kp DOWN &kp UP   &kp RGHT &kp C_VOL_UP &kp C_MUTE
                &kp BT_CLR &kp BT_DISC_0 &kp BT_DISC_1 &kp BT_DISC_2 &kp BT_DISC_3 &kp BT_DISC_4 &kp HOME &kp PG_DN &kp PG_UP &kp END &kp C_VOL_DN &kp C_PP
                &kp LSHIFT &kp Z    &kp X    &kp C    &kp V    &kp B    &kp INS  &kp M_PREV &kp M_NEXT &kp M_STOP &kp C_AL_CALC &kp RSHIFT
                &kp LCTRL &kp LGUI &kp LALT &kp SPACE &kp RALT &kp TRNS &kp RGUI &kp RCTRL
            >;
        };

        /* Layer Definitions */
        layer_names {
            layers = <&default_layer &fn_layer>;
        };
    };
};
